body {
  background-color: #000000;
}
.h1{
color: #FFFFFF;
position: absolut;
text-align: center;
font-size: 40px;
}
.h2{
color: #FFFFFF;
position: absolut;
text-align: center;
font-size: 20px;
}
.info{
    font-size: 22px;
    color: #808080;
    position: absolut;
    text-align: center;
}
